@model IEnumerable<SteamBoat.Models.exclude>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
             <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Game
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Game">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Game">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Game">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
