<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SteamBoat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/fh-3.2.2/sb-1.3.2/sp-2.0.0/datatables.min.css" />
    <style>





    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SteamBoat</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Missions
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Home" asp-action="Domission" asp-route-id="2005" asp-route-grab="true">Rust Fresh</a>
                                <a class="dropdown-item"  asp-controller="Home" asp-action="Domission" asp-route-id="1002" asp-route-grab="false">Steam Mega (Use Cache)</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                LHF
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"  asp-controller="Home" asp-action="LHF" asp-route-grab="true">LHF Full</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="LHF" asp-route-grab="true" asp-route-game="Rust">LHF (Just Rust)</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="LHF" asp-route-grab="true" asp-route-excludeGame="Rust">LHF (Exclude Rust)</a>

                            </div>
                        </li>
                                      <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bidding
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"  asp-controller="Home" asp-action="Autobid">Auto Bid</a>
                                <a class="dropdown-item"  asp-controller="Home" asp-action="PostBids">Post Bids</a>
                                <a class="dropdown-item"  asp-controller="Home" asp-action="PostBids" asp-route-game="Rust">Post Bids (Just Rust)</a>
                                <a class="dropdown-item"  asp-controller="Home" asp-action="PostBids" asp-route-excludeGame="Rust">Post Bids (Exclude Rust)</a>
                                <a class="dropdown-item"  asp-controller="Home" asp-action="PostBids" asp-route-justCancells="true">Post just cancels</a>
                                <a class="dropdown-item"  asp-controller="Home" asp-action="PostBids" asp-route-justCancells="true" asp-route-game="Rust">Post just cancels (Just Rust)</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">LHF(grab)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LHF" asp-route-grab="false">LHF</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CheckBids">Check Bids</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ReadBuyOrders" asp-route-grab="false">Read Buy Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ReadSellOrders" asp-route-grab="false">Read Sell Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Items" asp-route-grab="false">Items</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ItemsGold">Items Gold</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CheckSalePrices">CSP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ReadHistory">Read History (transactions)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UpdateActivity">Update Activity</a>
                        </li>



                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - SteamBoat - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/fh-3.2.2/sb-1.3.2/sp-2.0.0/datatables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function() {
        $('#items').DataTable({"pageLength": 2000, "fixedHeader": true,dom: 'Qlfrtip'});
        } );
    </script>
</body>
</html>
