@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-action="AutoBid"><h1 class="display-4">Welcome</h1></a>
    <p>Run LHF before Check Sale Prices (CSP)</p>
    <p>Run LHF After Read buy orders (RBO clears gaps)</p>

    <h2>Sell Orders</h2>
    <p><a href="https://steamcommunity.com/market/mylistings/render/?query=&start=0&count=100">https://steamcommunity.com/market/mylistings/render/?query=&start=0&count=100</a></p>
<p><a href="https://steamcommunity.com/market/mylistings/render/?query=&start=100&count=100">https://steamcommunity.com/market/mylistings/render/?query=&start=100&count=100</a></p>

    <p>Save as json to downloads/selling:</p>
    <p>Download.json</p>
    <p>Download2.json</p>
    <h2>Buy Orders</h2>
    <p><a href="https://steamcommunity.com/market/">https://steamcommunity.com/market/</a></p> 
    <p>View Source</p>    
    <p>Save as downloads / view-source_https___steamcommunity.com_market_.html</p>    
    <p>Then run Read Orders</p>

    <h2>History (Transaction)</h2>
    <h3>Updates Item profit data</h3>
    <p><a href="https://steamcommunity.com/market/myhistory/render/?count=500&start=0">https://steamcommunity.com/market/myhistory/render/?count=500&start=0</a></p> 
    <p>Save as json to downloads</p>
    <p>Then run Read History</p>
    
    
</div>
